# backend/.env.example
# Copia este archivo como .env y agrega tus keys reales

PORT=3000

# OpenWeather
OPENWEATHER_API_KEY=
OPENWEATHER_BASE_URL=http://api.openweathermap.org/data/2.5

# NASA
NASA_API_KEY=
NASA_BASE_URL=https://api.nasa.gov

# NewsAPI
NEWS_API_KEY=d
NEWS_BASE_URL=https://newsapi.org/v2

# GitHub
GITHUB_BASE_URL=https://api.github.com